body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f9fa;
    color: #333;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0602ff;
  }
  
  textarea {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 5px;
  }
  
  pre {
    background: #cac0ff;
    padding: 10px;
    overflow-x: auto;
    border-radius: 6px;
  }
  
  .preview {
    border: 1px solid #a9ffae;
    padding: 20px;
    margin-top: 10px;
    background: #fff;
    border-radius: 6px;
  }
  